body{
    margin:0;
}
.nav-content{
    display: flex;
    align-items: center;
    padding: 1.25rem 1rem;
    border-bottom: #00000015 1px solid;
}
.navbar{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 20;
}
.page-container{
    padding-top: 5rem;
}
.primary-color-text{
    color:#313E40;
}
.primary-color-theme{
    color: #8F9AD9;
}
.secondary-color-theme{
    color: #5066DF;
}
.primary-background-color-theme{
    background-color: #8F9AD9;
}
.nav-logo{
    z-index: 1;
    padding: 0rem 4%;
}
.nav-links{
    display: flex;
    width: 100%;
    position: absolute;
    left: 0;
    justify-content: center;
}
.nav-menu{
    display: flex;
    width: 100%;
    position: absolute;
    left: 0;
    justify-content: flex-end;
}
.nav-about,.nav-contact{
    margin-left: 5%;
}
.nav-content a{
    text-decoration: none;
}
.not-found{
    text-align: center;
}
.not-found a{
    text-decoration: none;
}
.footer{
    color: black;
    padding: 2rem 1rem;
}
.footer-links{
    fill: black;
}
.grid-row{
    padding-top: 1rem;
}
.grid-row-1{
    padding: 1rem 0;
}
.grid-row-2{
    padding: 2rem 0;
}
.grid-row-3{
    padding: 3rem 0;
}
.grid-row-4{
    padding: 4rem 0;
}
.grid-row-5{
    padding: 5rem 0;
}